<?xml version="1.0"?>
<launch>
	<!-- Configurable Parameters -->
	<!-- Robot and Load Naming -->
	<arg name="robotName" default="ropod"/>
	<arg name="robotCommonName" default="ropod"/>
	<arg name="loadName" default="mobidik"/>
	<arg name="LOAD_ATTACHED" default="false" />
	<!-- Laser parameters -->
	<arg name="laser" default="true"/>
	<arg name="add_laser_back" value="false"/>
	<!-- Camera parameters -->
	<arg name="asus_cam" default="false"/>
	<arg name="asus_cam_calibration" default="false"/>
	<!-- Application parameters -->
	<arg name="gmapping" default="false"/>
	<arg name="floorplan" default="$(find ropod_maps)/onsite_generic_demo/map"/>
	<arg name="ROBOT_REAL" default="$(optenv ROBOT_REAL)" />
	<arg name="gui" default="true"/>
	<!-- Path variables -->
	<arg name="robot_path" default="$(env CATKIN_WORKSPACE)/src/platform"/>
	<arg name="robotPackage" default="ropod_tue_2_bringup"/>
	<arg name="robot_bringup_path" default="$(arg robot_path)/$(arg robotPackage)"/>
	
	<!-- Include Launch files -->
		<!-- Launch Simulator -->
	<include unless="$(arg ROBOT_REAL)" file="$(arg robot_bringup_path)/launch/subfiles/launchsim.launch">
		<arg name="robot" value="$(arg robotCommonName)"/>
		<arg name="floorplan" default="$(arg floorplan)"/>
   		<arg name="gui" default="$(arg gui)" />
	</include>
		<!-- Include instance of robot -->
	<include file="$(arg robot_bringup_path)/launch/startSingle.launch">
		<!-- Robot and Load Naming -->
		<arg name="robotName" value="$(arg robotName)"/>
		<arg name="robotCommonName" value="$(arg robotCommonName)"/>
		<arg name="LOAD_ATTACHED" value="$(arg LOAD_ATTACHED)"/>
		<!-- Laser parameters -->
		<arg name="laser" value="$(arg laser)"/>
		<arg name="add_laser_back" value="$(arg add_laser_back)"/>
		<!-- Camera parameters -->
		<arg name="asus_cam" value="$(arg asus_cam)"/>
		<arg name="asus_cam_calibration" value="$(arg asus_cam_calibration)"/>
		<!-- Application parameters -->
		<arg name="gmapping" value="$(arg gmapping)"/>
		<arg name="ROBOT_REAL" value="$(arg ROBOT_REAL)"/>	
	</include>




</launch>
